# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetBeans specific #
*/nbproject/private/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Apple files
.DS_Strore

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Not exclude
!opencv-249.jar
!japura-gui-7.3.0.jar
!gson-2.3.1.jar
!bio-formats.jar
!bioformats_package.jar
!loci_plugins.jar
!loci-common.jar
!ome-xml.jar
!scifio.jar
!slf4j-api-1.7.5.jar
